/* google fonts api */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap');

/* root variables, main colors */
:root {
    --primary-bg: #1A1A2E;
    --secondary-bg: #2C2C4E;
    --text-white: #FFFFFF;
    --text-gray: #B1B1B1;
    --accent-purple: #b545e9;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

/* standard styles */
body {
    background-color: var(--primary-bg);
    color: var(--text-white);
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--accent-purple);
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; text-align: center; margin-bottom: 40px; }
h3 { font-size: 1.5rem; }

a {
    color: var(--accent-purple);
    text-decoration: none;
    transition: color 0.3s;
}
a:hover { color: var(--text-white); }

/* button styles */
.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--accent-purple);
    transition: background-color 0.3s;

    /* button text */
    color: var(--text-white);
    font-weight: bold;
    text-align: center;
}
.btn:hover {
    /* change color on hover */
    background-color: #833dd4;
}

/* nav bar styles */
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: var(--secondary-bg);
    position: fixed; /* keeps the nav bar at the top when scrolling */
    width: 90%;
}

/* initials top right, switch for an icon? */
.logo a {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-purple);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

header nav a {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-white);
}
/* change text color on hover & click */
header nav a:hover,
header nav a.active {
    color: var(--accent-purple);
}

/* index page sections */
/* ============================================== */
/* ============================================== */
section {
    padding: 120px 5%;
    min-height: 60vh;
    border-bottom: 1px solid var(--secondary-bg);
}


/* hero section */
.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* format intro text and img to center */
.hero-content {
    max-width: 600px;
}

.hero-image img {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    object-fit: cover;
    border: 5px solid var(--accent-purple);
}

/* project tiles */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: var(--secondary-bg);
    padding: 20px;
    text-align: center;
    /* smooth transition */
    transition: transform 0.3s ease;
}
.project-card:hover {
    /* transition move up 10p */
    transform: translateY(-10px);
}

.project-card img {
    width: 90%;
    margin-bottom: 15px;
}

/* resume, essay indiv. pages */
/*(same format, just an embedded pdf or text & button) */
.document-container {
    margin: auto;
    padding: 100px;
}

.document-header {
    text-align: center;
    margin-bottom: 40px;
}


.document-embed {
    width: 100%;
    height: 1000px;
}

/* project indiv. pages */
.project-detail-container {
    max-width: 900px;
    margin: auto;
    background-color: var(--secondary-bg);
    padding: 30px;
}

.project-detail-container img {
    max-width: 100%;
    margin-top: 20px;
}

pre {
    background-color: #111;
    color: var(--text-gray);
    padding: 20px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}

/* footer */
footer,
#footer,
.main-footer {
    text-align: center;
    padding: 30px;
    background-color: var(--secondary-bg);
}

.social-links a {
    margin: 0 15px;
    font-size: 1.2rem;
    color: var(--text-white);
}

/* crnter resume, video, essay buttons */
#resume,
#video,
#essay {
    text-align: center;
}